:root {
  --font-primary: Manrope, sans-serif;
  --font-secondary: ;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
}

h1,
h2 {
  font-family: "PT Serif", serif;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/* Button */

.button {
  display: inline-block;
  width: 150px;
  line-height: 48px;
  font-size: 16px;
  background-color: #fff;
  color: #bf3939;
  border-radius: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.button:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.button_landing {
  width: 220px;
}
.button_secondary {
  background-color: #bf3939;
  color: #fff;
}
.button_outline {
  width: 200px;
  border: 1px solid #bf3939;
}
/* Landing*/

.landing {
  height: 100vh;
}
.landing__figure {
  width: 100%;
  height: 100%;
}

.landing__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.landing__overlay {
  height: 100%;
  position: absolute;
  top: 0;
}
.landing__overlay_left {
  width: 27%;
  background-color: #bf3939ef;
}
.landing__overlay_right {
  right: 0%;
  width: 73%;
  background-color: #000000ad;
}
.landing__content {
  position: absolute;
  top: 0;
  width: 1300px;
  height: 100%;
  /*left: calc((100% - 1300px) / 2);*/
  left: 50%;
  transform: translateX(-50%);
}
.landing__content-inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.landing__title {
  font-size: 56px;
  width: 550px;
  color: #fff;
  margin-bottom: 24px;
}
.landing__subtilte {
  font-size: 16px;
  line-height: 180%;
  color: #fff;
  width: 440px;
  margin-bottom: 48px;
}

/*header*/

.header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 100;
  padding: 32px;
}

.header_secondary {
  background-color: #333;
  position: relative;
}

.header__inner {
  /* width: 1300px; */
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-link {
}

.header__hamburger {
  width: 30px;
  height: 30px;
}

.header__hamburger path {
  fill: #fff;
}
.header__nav {
  /* float: right; */
  display: none;
}
.header__link {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  margin-right: 48px;
  transform: all 0.1s ease-out;
}
.header__link:hover {
  text-shadow: 0.7px 0 0 #f6f6f6;
}
.header__button {
  margin-right: 32px;
}

.header__button:last-child {
  margin-right: 0;
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 32px 0;
  }
  .header__inner {
    width: 960px;
    margin: 0 auto;
  }
  .header__hamburger {
    display: none;
  }
  .header__nav {
    display: block;
  }
}
@media screen and (min-width: 1300px) {
  .header__inner {
    width: 1260px;
  }
}

/*courses section*/
.section {
  /* padding: 120px 0; */
  padding: 60px 24px;
}
.section_secondary {
  background-color: #f6fafb;
}

.section__helper-text {
  font-weight: 500;
  margin-bottom: 24px;
  color: #bf3939;
}
.section__header {
  margin-bottom: 48px;
}
.section__title {
  /* font-size: 36px; */
  font-size: 26px;
  font-weight: 500;
  color: #333;
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 32px;
    margin-bottom: 0;
  }

  .section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .section__title {
    font-size: 36px;
  }

  .section__inner {
    width: 960px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1300px) {
  .section__inner {
    width: 1260px;
  }
}

/* grid */
.grid {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px; */
  display: grid;
  gap: 48px;
}
@media screen and (min-width: 481px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1300px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* course */

.course {
  text-align: center;
}

.course:hover .course__title,
.course:hover .course__subtitle {
  color: #bf3939;
}

.course__figure {
  height: 275px;
  border-radius: 16px;
  margin-bottom: 16px;
  overflow: hidden;
}
.course__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-out;
}
.course__image:hover {
  transform: scale(1.2);
}
.course__title {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin-bottom: 8px;
  text-align: center;
}
.course__subtitle {
  font-size: 16px;
  font-weight: 300;
  color: #696969;
  text-align: center;
}

/* testimonial*/
.testimonial {
  display: flex;
  align-items: center;
}

.testimonial__figure {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.testimonial__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial__content {
  font-size: 30px;
  line-height: 180%;
  color: 6969696;
  padding-left: 120px;
}
.testimonial__quotation {
  font-size: 48px;
}

/* Course*/
.single-course {
}
.single-course__figure {
  height: 280px;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 32px;
}
.single-course__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single-course__content {
}
.single-course__text {
  font-size: 16px;
  line-height: 180%;
  color: #696969;
  margin-bottom: 24px;
}
.single-course__text:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .single-course {
    display: flex;
  }
  .single-course__figure {
    height: 350px;
    width: 350px;
    margin-bottom: 0px;
    flex-shrink: 0;
  }
  .single-course__content {
    padding-left: 48px;
  }
}

@media screen and (min-width: 1300px) {
  .single-course__figure {
    height: 450px;
    width: 450px;
  }
  .single-course__content {
    padding-left: 64px;
  }
}
